.btn {
    background-color: var(--color-secondary);
    border-radius: var(--border-size-medium);
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: 600;
    padding: var(--space-s) var(--space-m);
}