:root {
  --color-primary: red;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-base: 16px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px;
  --space-xxl: 48px;
  --border-size-soft: 4px;
  --border-size-medium: 8px;
  --border-size-rounded: 50px;
  --border-size-circle: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
}

.text-primary {
  color: var(--color-primary);
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#6401ff), to(#8bfcfe));
  background: linear-gradient(90deg, #6401ff 0%, #8bfcfe 100%);
}

.btn {
  background-color: var(--color-secondary);
  border-radius: var(--border-size-medium);
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: 600;
  padding: var(--space-s) var(--space-m);
}

.popup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.popup-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(18px) saturate(180%);
          backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 100px);
  margin: auto;
}

.popup.is--small .popup-content {
  height: 30%;
  width: 40%;
}
